.header {
    border-bottom: 1px solid #dbdbdb;
}
.header__inner {
    max-width: 1230px;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.header__title {
    font-family: "Lora", serif;
    color: rgb(136, 118, 95);
    font-size: 35px;
    font-weight: 500;
}
.header__logout {
    font-family: "Lora", serif;
    position: absolute;
    right: 50px;
    text-decoration: none;
    color: #c7b7a2;
    padding: 2px 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccbeab;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s;
}
.header__logout:hover {
    background-color: #e9e9e9;
    color: #ac916f;
    transition: .3s;
}

.admin__content {
    margin: 0 auto;
    padding: 30px 90px;
    max-width: 1230px;
}
.admin__heading {
    font-family: "Lora", serif;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: rgb(136, 118, 95);
    margin-bottom: 25px;
}
.function {
    display: flex;
    margin-bottom: 35px;
}
.search-form {
    width: 100%;
}
.function__wrap {
    width: 96.6%;
    display: flex;
    justify-content: space-between;
}
.search-form__item-input {
    padding: 14px 8px;
    font-size: 15px;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
    text-align: left;
    background-color: #fafafa;
    border: none;
    border: 1px solid #e2e2e2;
}
.search-form__item-input::placeholder {
    text-align: center;
    color: #94867e;
}
select {
    appearance: none;
}
.gender__selection {
    position: relative;
    display: inline-block;
    border: 1px solid #e2e2e2;
}
.gender__selection::after {
    content: '▼';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #e0e0e0;
}
.select__gender {
    padding: 14px 0;
    font-size: 15px;
    padding-left: 18px;
    padding-right: 28px;
    border: none;
    color: #927b5e;
    background-color: #f1f1f1;
    cursor: pointer;
}
.content__selection {
    position: relative;
    display: inline-block;
    border: 1px solid #e2e2e2;
}
.content__selection::after {
    content: '▼';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #e0e0e0;
}
.select__content {
    padding: 14px 17px;
    padding-right: 40px;
    font-size: 15px;
    border: none;
    color: #927b5e;
    background-color: #f1f1f1;
    cursor: pointer;
}
.form__date {
    position: relative;
    display: inline-block;
    width: 120px;
    padding: 14px;
    text-align: left;
    padding-left: 0;
    color: #927b5e;
    border: 1px solid #e2e2e2;
    background-color: #f1f1f1;
    cursor: pointer;
}
.form__date::-webkit-calendar-picker-indicator {
    width: 20%;
    opacity: 0;
    cursor: pointer;
}
.form__date::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    color: #e0e0e0;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
}
.search-form__item-button {
    padding: 9.5px 25px;
    width: 100%;
    color: #ffffff;
    background-color: #857766;
    border: 1px solid #c7b7a2;
    font-size: 16px;
    font-weight: 300;
    min-width: 50px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
.search-form__item-button:hover {
    background-color: #6d5e4a;
    transition: .3s;
}
.reset-form__item-button {
    display: block;
    width: 100%;
    color: #ffffff;
    background-color: #d3c1aa;
    padding: 9px;
    font-size: 17px;
    font-weight: 300;
    min-width: 100px;
    box-sizing: border-box;
    text-align: center;text-decoration: none;
    border: 1px solid #dbc9af;
    cursor: pointer;
    transition: .3s
}
.reset-form__item-button:hover {
    background-color: #c9b398;
    transition: .3s;
}

.export {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.export__button {
    padding: 6px 18px;
    font-size: 15px;
    color: #837562;
    background-color: #ebe6e1;
    border: none;
    text-decoration: none;
}
.pagination {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 0;
    overflow: hidden;
}

.pagination a,
.pagination span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-right: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    background-color: #fff;
}

.pagination a:last-child,
.pagination span:last-child {
    border-right: none;
}

.pagination .active {
    background-color: #85755d;
    color: #fff !important;
}
.page-link {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #f3f3f3;
    background: #fff;
    margin-left: -1px;
    color: #968678 !important;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}
.page-link.arrow {
    padding-top: 4px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;
}
.contact-view {
    border: 1px solid #e7e7e7;
}
.contact-view__heading-wrap {
    background-color: #86745f;
    color: #ffffff;
    font-weight: 500;
}
.contact-view__heading-wrap,
.contact-row {
    display: flex;
}
.contact-row {
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}
.heading__col,
.contact-col {
    font-size: 16px;
    padding: 13px 12px;
}
.heading__name,
.contact-name {
    width: 200px;
    padding-left: 45px;
}
.heading__gender,
.contact-gender {
    width: 140px;
}
.heading__email,
.contact-email {
    width: 250px;
}
.heading__content,
.contact-content {
    width: 250px;
}
.contact-detail {
    width: 160px;
    text-align: right;
}
.modal-open {
    padding: 5px 17px;
    background-color: #fdfdfd;
    color: #cfbaa1;
    text-decoration: none;
    border: 1px solid #ebdccb;
    transition: .3s;
}
.modal-open:hover {
    background-color: #ebebeb;
    transition: .3s
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal:target {
    display: block;
}

.modal__content {
    background: #fff;
    color: #85755d;
    font-size: 18px;
    padding: 60px 0;
    padding-left: 90px;
    padding-right: 30px;
    max-width: 700px;
    min-height: 750px;
    position: relative;
    box-shadow: 4px 4px 8px  rgba(0, 0, 0, 0.2);
    border: 2px solid #c2b8ab;
}
.modal .modal__content p:first-of-type {
    margin-top: 60px;
}
.modal__content strong {
    width: 200px;
}
.modal__value {
    flex: 1;
}
.modal .modal__content p {
    display: flex;
    margin-bottom: 30px;

}
.modal__close {
    position: absolute;
    right: 28px;
    top: 26px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #695540;
    border: 1px solid #a18f77;
    border-radius: 50%;
    transition: .3s;
}
.modal__close:hover {
    background-color: #cfb592;
    color: #ffffff;
    transition: .3s;
}
.modal__delete-button {
    background-color: #bd3e30;
    color: #fff;
    border: none;
    border-radius: 1px;
    padding: 7px 18px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: inline-block;
}

.modal__delete-button:hover {
    background-color: #83180c;
}

.delete-form {
    margin-top: 80px;
    text-align: center;
    margin-right: 60px;
}